<div>
  <h1 class="title">Detalles del pedido</h1>
  <table>
    <tr>
      <th>IdPedido</th>
      <th>Estado</th>
      <th>Cantidad</th>
      <th>TotalProducto</th>
    </tr>
    <tr *ngFor="let detail of details">
      <td>{{ detail.pedidoId }}</td>
      <td>En preparacion</td>
      <td>{{ detail.cantidad }}</td>
      <td>{{ detail.totalProducto }}</td>
    </tr>
  </table>
  <button type="submit" routerLink="/home">Ir a la pagina principal</button>
  <img src="../../../assets/img/fincompra.jpg">
</div>
