<section class="about">
    <div class="main">
        <img src="/assets/img/descargar.png">
        <div class="about-text">
            <h1>Sobre Nosotros</h1>
            <h5>Pasteleria<span> y Catering</span></h5>
            <p>Ofrecemos productos naturales sin preservantes ni colorantes, de calidad constante,
                innovando y satisfaciendo las necesidades de nuestros clientes. Comprometidos con la salud
                y bienestar de nuestros consumidores ademas de ser reconocidos a nivel regional.</p>
            <button type="button">Contactanos</button>
        </div>
    </div>
</section>
