<div class="header">
    <div class="row">
        <div class="col-2">
            <h1 id="xd5">La mejor pasteleria<br> Al mejor precio</h1>
            <p id="xd5">Somos una empresa comprometida con sus clientes que ofrece <br>
                los mejores servicios de catering y pasteleria en general</p>
            <a href="#productos" class="btn">Empieza a Ordenar &#8594;</a>
        </div>
        <div class="col-2">
            <img src="/assets/img/descargar.png">
        </div>
    </div>
</div>
<!----Featured categories--->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3"><img src="/assets/img/postres.jpg" id="xd" routerLink="/products"></div>
            <div class="col-3"><img src="/assets/img/Tortas.jpg" id="xd" routerLink="/products"></div>
            <div class="col-3"><img src="/assets/img/bocaditos.jpg" id="xd" routerLink="/products"></div>
        </div>
    </div>
</div>
<!----Featured products--->
<div class="small-container">
    <h2 class="title" id="productos">Productos Destacados</h2>
    <div class="row">
        <div class="col-4">
            <img src="/assets/img/Alfajores.jfif" id="xd2">
            <h4>Alfajores de Maicena</h4>
            <p id="xd3">S/40.00</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/eempanada1.jfif" id="xd2">
            <h4>Empanada de Pollo</h4>
            <p id="xd3">S/40.00</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/empanada2.jfif" id="xd2">
            <h4>Empanada de Carne</h4>
            <p id="xd3">S/40.00</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/empanada3.jfif" id="xd2">
            <h4>Empanada de Dulce</h4>
            <p id="xd3">S/40.00</p>
        </div>
    </div>
    <h2 class="title">Ultimos Productos</h2>
    <div class="row">
        <div class="col-4">
            <img src="/assets/img/enrollados1.jfif" id="xd2">
            <h4>Enrollado de Hot Dog</h4>
            <p id="xd3">S/40.00</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/milhojas.jfif" id="xd2">
            <h4>Mil hojas</h4>
            <p id="xd3">S/40.00</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/tresleches.jfif" id="xd2">
            <h4>Torta tres leches</h4>
            <p id="xd3">S/40.00</p>
        </div>
        <div class="col-4">
            <img src="/assets/img/tortachocolate.jfif" id="xd2">
            <h4>Torta de Chocolate</h4>
            <p id="xd3">S/40.00</p>
        </div>
    </div>
</div>
